.contact-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact-text h2 {
  font-size: 30px;
  margin: 0;
  color: #fff000;
  margin-left: 40px;
  margin-top: 50px;
}

.contact-text p {
  margin: 5px 0 0;
  font-size: 15px;
  line-height: 1.4em;
  max-width: 260px;
  color: white;
   margin-left: 40px;
}

.contact-circle {
  width: 120px;
  height: 120px;
  background: #fff000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  margin-right: 50px;
  margin-top: 50px;
}

.contact-circle:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}


