body {
    background-color: #000;
}

.hero {
    display: grid; 
     background-color: black;
    padding-bottom: 50px;
}

.grid-con {
  display: grid;
}


#hero-img {
width: 90%;
height: auto;
margin: 30px auto 0;   
border: 4px solid yellow;
border-radius: 100%;
box-shadow: 0 0 15px 1px yellow;
display: block;        

}

#text-col h1{
 color: #fff000;
 padding-left: 20px;
 font-size: 29px;
 font-family: "Special Gothic Expanded One", sans-serif;
 letter-spacing: 1px;
 margin-top: 60px;
}

.p-topic {
color: #fff000;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-family: "Figtree", sans-serif;
}

.p-desc{
color: white;
padding-left: 20px;
padding-right: 20px;
font-family: "Figtree", sans-serif;
}

#m-text-col h1{
 color: yellow;
 padding-left: 20px;
 font-size: 29px;
}

#m-text-col p{
 color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Figtree", sans-serif;
}

.btn {
  display: inline-block;        
  padding: 12px 24px;   
  color: black;                  
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;        
  border: 2px solid #fff000;  
  border-radius: 8px;          
  cursor: pointer;             
  transition: all 0.3s ease;   
  margin-left: 20px;
  background: linear-gradient(90deg, #fff000, #ffae00);
  box-shadow: 0 0 15px #fff000;
  font-family: "Figtree", sans-serif;
}


.btn:hover {
  background-color: #000;      
  color: black;
  transform: scale(1.05);   
}

@media (min-width: 768px) {
  .hero {
    align-items: center; 
  }

  #text-col {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  #text-col h1,
  .p-topic,
  .p-desc {
    padding-left: 0;  
    padding-right: 0;
    text-align: left; 
  }
  #text-col h1 {
    font-size: 25px;
  }
  .p-topic,
  .p-desc {
    padding-left: 0;  
    padding-right: 0;
    text-align: left; 
    font-size: 15px;
  }
  .btn {
    margin-left: 0;        
    align-self: flex-start;  
    width: auto;             
  }
}

@media (min-width: 1024px) {
  .hero {
    align-items: center; 
  }

  #text-col {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  #text-col h1,
  .p-topic,
  .p-desc {
    padding-left: 0;  
    padding-right: 0;
    text-align: left; 
    margin-left: 20px;
  }
  #text-col h1 {
    font-size: 31px;
  }
  .p-topic,
  .p-desc {
    padding-left: 0;  
    padding-right: 0;
    text-align: left; 
    font-size: 20px;
  }
  .btn {
    margin-left: 0;          
    align-self: flex-start;  
    width: auto;  
     margin-left: 20px;        
  }
  #hero-img {
width: 90%;
height: auto;
margin: 30px auto 0;   
border: 4px solid yellow;
border-radius: 100%;
box-shadow: 0 0 15px 1px yellow;
display: block;   
max-width: 500px;     

}
  
}


.box {
  background: #111;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  border: 2px solid #fff000;
}


.box-title {
  color: #fff000;
  font-size: 22px;
  margin-bottom: 10px;
}


.box-sub {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 15px;
}


.box-img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .box {
  background: #111;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 0;
  border-radius: 16px;
  text-align: center;
  border: 2px solid #fff000; 
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
}
.box-img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-bottom: 30px;
}

#hero-video {
  width: 100%;        
  height: auto;
  display: block;    
}

.section-line {
  border: 0;
  height: 2px;             
  background: #fff000;     
  width: auto;              
}

.demo-reel {
    color: #fff000;
    background-color: black;
    padding-left: 45px;
     padding-right: 55px;
     margin-bottom: 35px;
}


