.seven-hero {
  position: relative;
}

.seven-hero-image {
  margin-top: 40px;
}

.seven-hero-img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  
}

.seven-overview {
  background-color: black;
}

.seven-overview-text {
  text-align: left;
}

.seven-overview-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff000;
  font-family: 'Special Gothic Expanded One', sans-serif;
  letter-spacing: 1px;
}

.seven-overview-subtitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  font-family: 'Special Gothic Expanded One', sans-serif;
  letter-spacing: 1px;
}

.seven-overview-desc {
  font-size: 15px;
  line-height: 1.6;
  color: white;
  font-family: "Figtree", sans-serif;
}

.seven-overview-tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Figtree", sans-serif;
}

.seven-overview-tag {
  background-color: #fff000;
  color: #111;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: bold;
}

.seven-goal {
  background-color: #111;
}

.seven-goal-text {
  text-align: left;
}

.seven-goal-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
   font-family: 'Special Gothic Expanded One', sans-serif;
  letter-spacing: 1px;
  color: #fff000;
}

.seven-goal-list {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  padding-left: 15px;
  font-family: "Figtree", sans-serif;
}

.seven-goal-list li {
  margin-bottom: 1rem;
}

.seven-process {
  background-color: #111;
}

.seven-process-text {
  text-align: left;
}

.seven-process-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff000;
  font-family: 'Special Gothic Expanded One', sans-serif;
  letter-spacing: 1px;
}

.seven-process-desc {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-family: "Figtree", sans-serif;
}

.seven-problem {
  background-color: #111;
}

.seven-problem-text {
  text-align: left;
}

.seven-problem-title {
 font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff000;
  font-family: 'Special Gothic Expanded One', sans-serif;
  letter-spacing: 1px;
}

.seven-problem-desc {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-family: "Figtree", sans-serif;
}

.seven-deepdive {
  display: grid;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 35px;
}

.seven-deepdive-wrapper {
  text-align: center;
}

.seven-deepdive-img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .seven-deepdive-wrapper {
    grid-column: span 4 !important; 
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .seven-deepdive-wrapper {
    margin: 0 auto; 
  }
}


